@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #bfc6d9;
}

.navbar {
	top: 0px;
	position: fixed;
	padding-left: 0px;
	background-color: #363062;
	color: EEF5FF;
	width: 100vw;
	height: 90px;
	margin: auto;
	z-index: 1;
}

.dashThing {
	position: fixed;
	top: 90px;
	padding-left: 0px;
	background-color: #435585;
	width: 100vw;
	height: 10px;
	margin: auto;
	margin-bottom: 200px;
	z-index: 1;
}

#navtext {
	opacity: 1;
	height: 9cap;
	float: left;
}

hr {
	border: 0;
	height: 4px;
	background-color: #818FB4;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin-bottom: 7px;
}

pages {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

}

.wrapper {
	margin: 150px auto;
	width: 70%;
	animation: scroll ease-in-out both;
	animation-timeline: view();
	animation-range: entry 50% cover 50%;
}


/*
@keyframes scroll {
	from {
		opacity: 1;
		transform: translateY(100px);
	}

	to {
		opacity: 0;
		transform: translateY(0px);
	}

	from {
		opacity: 1;
		transform: translateY(100px);
	}

	to {
		opacity: 0;
		transform: translateY(0px);
	}
}*/

.main {
	margin-top: 100px;
	height: 1500px;
	/* Used in this example to enable scrolling */
}

.pages div {
	padding-bottom: 500px;
}



.text-box h1 {
	font-size: 48px;
	color: #08182b;
}

.text-box p {
	font-size: 18px;
	color: #08182b;
}

.pageimg {
	max-height: 320;
	max-width: 320px;
	float: left;
	border: 5px solid #818FB4;
	border-radius: 10px;
	margin-right: 15px;
}

html {
	scroll-behavior: smooth;
}

/*.color-box2 {
	padding-left: 0px;
	background-color: #86B6F6;
	width: 100vw;
	height: 10px;
}

.color-box3 {
	padding-left: 0px;
	background-color: #EEF5FF;
	width: 100vw;
	height: 200px;
}

.color-box4 {
	padding-left: 0px;
	background-color: #B4D4FF;
	width: 100vw;
	height: 200px;
}*/

ul {
	margin-top: 0;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	height: 90px;
	padding: 0;
	line-height: 100px;
}

li {
	float: left;
	margin-top: 0;
	height: 90px;
	line-height: 90px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0px 16px;
	text-decoration: none;
	font-size: 30px;
	height: 90px;
	font-family: 'Trebuchet MS', sans-serif;
}

li img {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

a:hover {
	color: #a9c8ef;
}

:target {
	scroll-margin-top: 150px;
}

.section {
	height: 100vh;
	padding: 1rem;
}


/*https://colorhunt.co/palette/eef5ffb4d4ff86b6f6176b87*/
/*https://blog.hubspot.com/website/css-fade-in#:~:text=In%20the%20CSS%2C%20use%20the,creates%20the%20fade%2Din%20effect.*/